/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.example
.editorconfig
.styleci.yml
artisan
webpack.mix.js
package.json
package-lock.json
tests/CreatesApplication.php
tests/Feature/ExampleTest.php
tests/TestCase.php
tests/Unit/ExampleTest.php
resources/css/app.css
resources/js/app.jsx
resources/js/components/Card/card.css
resources/js/components/Example.jsx
resources/js/components/Example.jsx
*.jsx
*.js
public/css/app.css
